.texto_lb {
  text-align: center;
}

.autenticacao-card {
  margin: 0 auto;
  width: 50%;
}

.autenticacao-card-container {
  min-height: 100vh;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

